<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="/styles/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/styles/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/styles/bootstrap-4.1.2/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/custom.css" rel="stylesheet">
    <style>
        .error{
            font-size: 15px;
            color: #bd2130;
        }
    </style>
</head>

<body id="page-top">


<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->

    <ul  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sideBar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Manager
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
                <p><a class="collapse-item" href="/bookingToDay" style="color: whitesmoke; margin-left: 30px;">Booking ToDay</a></p>
                <p><a class="collapse-item" href="/admin/room" style="color: whitesmoke; margin-left: 30px;">Room</a></p>
                <p><a class="collapse-item" href="/create"style="color: whitesmoke; margin-left: 30px;">Create Booking</a></p>
                <p> <a class="collapse-item" href="/listBill" style="color: whitesmoke; margin-left: 30px;">List Bill</a></p>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>




                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="blank.html">Blank Page</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div  id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:fragment="navBar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form th:action="@{/searchById}" method="post" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2" name="search">
                        <div class="input-group-append">
                            <input class="btn btn-primary" type="submit">
                            </input>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For
                    more information about DataTables, please visit the <a target="_blank"
                                                                           href="https://datatables.net">official
                        DataTables documentation</a>.</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        <a href="javascript:void(0);" class="btn btn-info"
                           onclick="user.openAddEditUser()">
                            Create
                        </a>
                        <div id="addEditUser" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <form id="frmAddEditUser" method="post">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Create New Booking</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <h5 style="color: #1cc88a">Customer</h5>

                                            <th class="col-12">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="col-4">
                                                            <label>Name:</label>
                                                        </div>
                                                        <div class="col-7">
                                                            <input type="text"

                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="col-4">
                                                            <label>Address:</label>
                                                        </div>
                                                        <div class="col-7">
                                                            <input type="text"

                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="col-4">
                                                            <label>Email:</label>
                                                        </div>
                                                        <div class="col-7">
                                                            <input type="text"
                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="col-4">
                                                            <label>ID Card:</label>
                                                        </div>
                                                        <div class="col-7">
                                                            <input type="text"
                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <h5 style="color: #1cc88a">Booking</h5>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="col-4">
                                                            <label>Check In</label>
                                                        </div>
                                                        <div class="col-7">
                                                            <input type="date" id="checkIn" name="checkIn"
                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="col-4" style="float: left;">
                                                            <label>Check Out</label>
                                                        </div>
                                                        <div class="col-7">
                                                            <input type="date" id="checkOut" name="checkOut"
                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="col-4">
                                                            <label>Type Room</label>
                                                        </div>
                                                        <div class="col-7">
                                                            <select id="typeRoom" name="typeRoom"
                                                                    onclick="changeTypeRoom(this);"
                                                                    class="form-control">
                                                                <th:block th:each="t : ${typeRooms}">
                                                                    <option th:text="${t.name}" th:value="${t.id}"
                                                                            th:data-price="${t.price}"></option>
                                                                </th:block>
                                                            </select>
                                                            <!--                                                        <input type="text" id="typeRoom" name="typeRoom" class="form-control">-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="col-4">
                                                            <label>Price</label>
                                                        </div>
                                                        <div class="col-7">
                                                            <input type="text" id="price" name="price"
                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="col-4">
                                                            <label>Room</label>
                                                        </div>
                                                        <div class="col-7">
                                                            <input type="text" id="room" name="room"
                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Close
                                        </button>
                                        <input type="submit" class="btn btn-info" value="Save">
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Check In</th>
                                <th>Check Out</th>
                                <th>Check In Expected</th>
                                <th>Check Out Expected</th>
                                <th>Price</th>
                                <th>Name Customer</th>
                                <th>Room</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Check In</th>
                                <th>Check Out</th>
                                <th>Check In Expected</th>
                                <th>Check Out Expected</th>
                                <th>Price</th>
                                <th>Name Customer</th>
                                <th>Room</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <th:block th:each="b : ${bookingDetails}">
                                <tr>
                                    <td th:text="${b.checkIn}"></td>
                                    <td th:text="${b.checkOut}"></td>
                                    <td th:text="${b.checkInExpected}"></td>
                                    <td th:text="${b.checkOutExpected}"></td>
                                    <td th:text="${b.room.typeRoom.price}"></td>
                                    <td th:text="${b.customer.name}"></td>
                                    <td th:text="${b.room.name}"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2019</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>


<th:block th:fragment="script">
    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/datatables-demo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js">
    </script>
</th:block>
</body>

</html>
