<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/layout::head">
<body>
<div id="wrapper">
    <ul th:replace="/admin/layout::sideBar"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div th:replace="/admin/layout::navBar"></div>
        <div class="card-body">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Check In</th>
                            <th>Check Out Expected</th>
                            <!--                            <th>Name Customer</th>-->
                            <!--                            <th>Customer Id:</th>-->
                            <!--                            <th>Type Room</th>-->
                            <!--                            <th>Room</th>-->
                            <th>Check Out</th>

                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Check In</th>
                            <th>Check Out Expected</th>
                            <!--                            <th>Name Customer</th>-->
                            <!--                            <th>Customer Id:</th>-->
                            <!--                            <th>Type Room</th>-->
                            <!--                            <th>Room</th>-->
                            <th>Check Out</th>
                        </tr>
                        </tfoot>
                        <tbody>

                        <th:block th:each="b : ${bookings}">
                            <tr>
                                <td th:text="${b.checkIn}"></td>
                                <td th:text="${b.checkOut}"></td>
                                <td><a th:href="@{/bookingToday/__${b.id}__ }">CheckOut</a></td>
                            </tr>
                        </th:block>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<th:block th:replace="/admin/layout::script"></th:block>
<script>
    // drawThangPhuc = function () {
    //     $.ajax({
    //         url: 'http://localhost:8080/bookingOfToDay/',
    //         method: 'GET',
    //         dataType: 'json',
    //         contentType: 'application/json',
    //         success: function (data) {
    //             $('#bookingToDay').empty();
    //             $.each(data, function (index, value) {
    //                 $('#bookingToDay').append(
    //                     "<tr><td>" + value.checkIn + "</td><td>" + value.checkOut + "</td><td>" + value.bookingDetailSet[0].customer.name + "</td><td>" + value.bookingDetailSet[0].customer.identityCard + "</td><td>" + value.bookingDetailSet[0].room.typeRoom.name + "</td><td>"+ value.bookingDetailSet[0].room.name+"</td><td><a class='btn btn-light' href='bookingToday/"+value.id+"'>CheckOut</a> "+"</td></tr>"
    //                 );
    //                 // $.each(data, function(index, value){
    //                 //     if(index === value.id-1){
    //                 //         $('#rooms').append(
    //                 //             "<option value='"+value.id+"'>"+value.name+"</option>"
    //                 //         )
    //                 //     }
    //             }) // });
    //         }
    //     });
    // };
    // $(document).ready(function () {
    //     drawThangPhuc();
    //     $('#dataTable').DataTable();
    // });
</script>
</html>